PORT=5441
DB_HOST=localhost
DB_PORT=5432
DB_NAME=name
JWT_SECRET=NIUAESHR98324HRP9QHFP94382HRQ293H4RB1P487G532ASAOIW@JP
REFRESH_TOKEN_SECRET=ASDNO3UI2H98H3R908H234HR1238H49HR51284H293*^*&GIUVBASB
ACCESS_TOKEN_EXPIRES=15m
REFRESH_TOKEN_EXPIRES=7d
EMAIL_USER=email@gmail.com
EMAIL_PASS="asd asd asdasd"
API_BASE_URL=10.320.0310
RECEIVER_MAIL=email@gmail.com
APP_NAME="Name"